---
---

$headerheight: 45vh;

@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Noto+Sans:400,400italic,700);

{% include reset.css %}

body {
	font-family: 'Noto Sans', sans-serif;
}

@mixin stroke($width, $color) {
    $width: $width + 0;
    $shadow: 0 0 0 transparent;
    $i: 0;
    $w: 1;

    @while ($i < $width) {
        $i: $i + 1;
        $j: 0;
        $w: $w + 2;

        @for $r from 1 through $w {
            @for $c from 1 through $w {
                $x: $c - ceil($w / 2);
                $y: $r - ceil($w / 2);

                $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
            }
        }
    }

    text-shadow: $shadow;
}

div#header {
	width: 100%;
	height: $headerheight;
	background: url(/images/wood-painted-star-green.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 17vh;
	color: #fff;
	position: relative;
	
	
	h1 {
		font-size: 8vh;
		font-weight: bold;
		@include stroke(3, #000);
	}
	
	p {
		position: absolute;
		bottom: 15px;
		width: 100%;
		text-align: center;
		font-size: 20px;
		@include stroke(1, #000);
	}
}

div#content {
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	line-height: 130%;
	font-size: 15px;
	
	h2 {
		font-weight: bold;
		font-size: 28px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

div#cardwrap {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

a.card {
	color: #000;
}

div.card {
	display: inline-block;
	width: 46%;
	text-align: left;
	background-color: #ced55c;
	padding: 10px;
	margin: 10px;
	border-radius: 6px;
	box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	
	h3 {
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 5px;
	}
	
	&:hover {
		background-color: darken(#ced55c, 15%);
	}
}

div#footer {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	background-color: #333;
	color: #ccc;
	padding: 10px;
	font-size: 14px;
	
	a {
		color: inherit;
		text-decoration: underline;
	}
}

strong { font-weight: bold; }





